<!DOCTYPE html>
<html>
  <head>
    <title>LabAssignment10Esperanza11</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <script>
      window.fbAsyncInit = function() {
          FB.init({
              appId      : '1942942812384186',
              cookie     : true,
              xfbml      : true,
          });

          FB.AppEvents.logPageView();

      };

      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>
  <div style="align-self: right; overflow: auto">
    <div style="float: right"><%= link_to('Login', new_user_session_path)  %> </div>
    <div><br> </div>
   <div style="float: right"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  </div>
  </div>
    <%= yield %>
  </body>
</html>
