<!DOCTYPE html>
<html>
  <head>
    <title>LabAssignment10Esperanza11</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="align-self: right; overflow: auto">
    <div style="float: right"><%= link_to('Login', new_user_session_path)  %> </div>
    <div><br> </div>
   <div style="float: right"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  </div>
    <% if user_signed_in? %>
    <br> <div style="float: right"><%= current_user.name %></div>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
